.fixed {
  position: fixed;
}

.full-view {
  height: 100vh;
  width: 100%;
}

.full-heigth {
  height: 100vh;
}

.full-width {
  width: 100%;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.vertical-align-row {
  align-items: center;
}


.right {
  text-align: right;
}

.center-center {
  justify-content: center;
  align-items: center;
}

.header-container {
  background: url('./images/bg-main.jpeg');
  background-size: cover;
  background-position: center;
}

.main-header {
  width: 100%;
  top: 0;
}

.navbar {
  height: 100px;
  width: inherit;
  padding: 0 50px;
  color: #ffffff;
  background: rgba( 0, 0, 0, .6 );
}

.navigation {
  flex-grow: 1;
}

.title {
  font-size: inherit;
  font-weight: 100;
}

.link {
  margin-left: 20px;
  font-size: 1.2em;
  color: #ffffff;
  text-decoration: none;
}


